@font-face {
     font-family: 'GOTHAM-LIGHT';
     src: url(fontfamily/GOTHAM-LIGHT.ttf);
}
@font-face {
     font-family: 'GOTHAM-MEDIUM';
     src: url(fontfamily/GOTHAM-MEDIUM.ttf);
}
@font-face {
     font-family: 'GOTHAM-BOLD';
     src: url(fontfamily/GOTHAM-BOLD.ttf);
}
@font-face {
     font-family: 'Gotham-Black';
     src: url(fontfamily/Gotham-Black.otf);
}

 body {
     margin: 0;
     padding: 0;
     font-family: 'Gotham-Black';
}
.my-head{
     background: #131414;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
}
.my-head .logo{
     width: auto;
     height: 65px;
}
.my-head .head-text{
     color: #fff;
     margin-left: 4px;
}
.my-head .right-text li a{
     color: #fff;
     font-size: 15px;
    font-weight: 600;
    margin-top: 6px;
}
.my-head .right-text li a:hover{
     color: #1281e9;
}

.my-head .right-text li .blue-text{
     color: #1281e9;
}

.banner{
     background-color: #131414;
     padding-top: 70px;
     padding-bottom: 50px;
}
.banner h2{
     color: #fff;
     font-size: 57px;
     font-family: 'GOTHAM-MEDIUM';
     font-weight: 600;
     margin-bottom: 0
}
.banner h3{
     color: #1B5BBA;
     font-size: 44px;
     font-weight: 600;
     margin-top: 0;
     margin-bottom: 45px;
     font-family: 'GOTHAM-MEDIUM';
}
.banner h3 span{
     color: #7211F2;
}

.slide-section{
     max-width: 550px;
     margin: auto;
     
}
.slider-box{
     animation: color-mix 2s linear infinite alternate;
     box-shadow: 0 0 25px 25px currentColor;
     border-radius: 50%;
}

@keyframes color-mix {
     0% { color: #F093D7 }
     25% { color: #871F60 }
     50% { color: #6164CC }
     75% { color: #EB55A5 }
     100% { color: #206AD7 }
   }

/* .banner img{
     width: auto;
     height: 430px;
} */
.banner h4{
     color: #fff;
     font-size: 20px;
     margin-top: 70px;
     line-height: 30px;
     font-family: 'Gotham-Black';

     margin-bottom: 20px;
}
.banner p{
     color: #656565;
     font-size: 16px;
     font-family: 'GOTHAM-MEDIUM';

}
.power{
     background: black;
     padding-top: 50px;
     padding-bottom: 70px;
}
.power h3{
     color: #fff;
     font-size: 39px;
     font-weight: 600;
     margin-bottom: 65px;
}
.power .dna{
     color: #6735B0;
}
.power p{
     color: #646569;
     font-size: 24px;
     line-break: 25px;
    font-weight: 600;
    margin-top: 85px;
}
.power p span{
     color: #fff;
}
.power .carousel-inner .item img{
     height: 450px;
     width: 70%;
     margin: auto;
     display: block;
     text-align: center;
}
.brand{
     background: #0C0A0D;
     padding-top: 60px;
     padding-bottom: 70px;
}
.brand h2{
     color: #fff;
     text-align: center;
     font-weight: 600;
     margin-bottom: 50px;
     font-family: 'GOTHAM-MEDIUM';
}
.brand .owl-carousel img{
     height: 80px !important;
     width: auto !important;
     margin: auto;
     text-align: center;

}
.brand .owl-carousel .item{
     display: flex;
     align-items: center;
     justify-content:space-between
}

.security{
     background: black;
     padding-top: 205px;
     position: relative;
     padding-bottom: 60px;
}
/* .security img{
     width: auto;
     height: 290px;
     display: block;
     margin: auto;
     margin-bottom: 20px;
} */
.white{
     color: #fff;
}
.security p{
     color: #6d6a6e;
}
.first-para{
     color: #6d6a6e;
     font-size: 18px;
     line-height: 28px;
     margin-top: 20px;
}

.security h2{
     color: #769EBB;
     font-size: 38px;
    font-weight: 600;
}
.security h3{
     color: #4039A4;
     font-size: 38px;
     font-weight: 600;
}
.security h4{
     color: #5219AB;
     font-size: 38px;
     font-weight: 600;
}
.watch-img{
     position: absolute;
     z-index: 99999;
     left: 0;
     right: 0;
     margin: auto;
     text-align: center;
     top: 50px;
     width: auto;
     height: 380px;
     display: block;
     margin: auto;
     margin-bottom: 20px;
}

.inner-row{
     margin-top: 150px;
}

.choose{
     background: #03070E;
     padding-top: 50px;
     padding-bottom: 0px;
     position: relative;
}
.choose h2{
     color: #fff;
     text-align: center;
}
.choose p{
     color: #646569;
     text-align: center;
     font-size: 17px;
     margin-bottom: 70px;
}
.choose h3{
     color: #fff;
     position: absolute;
     top: -71px;
     font-family: 'GOTHAM-MEDIUM';
     line-height: 48px;
     left: 100px;
     font-size: 32px
}
.choose img{
     width: auto;
     height: 450px;
     display: block;
     margin: auto;
}
.choose h4{
     color: #fff;
     font-size: 32px;
     position: absolute;
    right: 100px;
    margin-top: -100px;
     line-height: 48px;
}
.policy{
     background: #03070E;
     padding-top: 50px;
     padding-bottom: 0px;
     position: relative;
}
.policy h2{
     color: #fff;
     text-align: center;
}
.policy p, li{
     color: #646569;
     text-align: left;
     font-size: 17px;     
}
.policy h3{
     color: #fff;
     text-align: left;
     font-family: 'GOTHAM-MEDIUM';
     line-height: 48px;
     font-size: 32px;
	 margin-top: 70px;
}
.policy img{
     width: auto;
     height: 450px;
     display: block;
     margin: auto;
}
.policy h4{
     color: #fff;
     font-size: 32px;
     position: absolute;
    right: 100px;
    margin-top: -100px;
     line-height: 48px;
}
.partner{
     background: #03070E;
     padding-top: 50px;
     padding-bottom: 0px;
     position: relative;
}
.partner h2{
     color: #fff;
     text-align: center;
}
.partner label{
     color: #646569;
     text-align: left;
     font-size: 17px;     
}
.partner p{
     color: #646569;
     text-align: center;
     font-size: 17px;   
	 margin-bottom: 70px;  
}
.partner h3{
     color: #fff;
     text-align: left;
     font-family: 'GOTHAM-MEDIUM';
     line-height: 48px;
     font-size: 32px;	 
}
.partner img{
     width: auto;
     height: 450px;
     display: block;
     margin: auto;
}
.partner h4{
     color: #fff;
     font-size: 32px;
     position: absolute;
    right: 100px;
    margin-top: -100px;
     line-height: 48px;
}
.partner-submit-btn {
    float: right;
    margin-right: 15px;
}
.partner-input {
		display: block;
		width: 100%;
		height:40px;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.8;
		/*color: #4f4f4f;*/
		color:#999999;		
		background-color: transparent;
		background-clip: padding-box;
		border: 1px solid #bdbdbd;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0.25rem;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
		}
.marks{
     /* background: #070E1A; */
     padding-top: 50px;
     padding-bottom: 50px;
}
.marks h2{
     color: #76B5EC;
     font-size: 40px;
}
.marks p{
     color: #fff;
}
.tittle{
     display: flex;
}
.tittle p{
     color: #fff;
     font-size: 15px;
     font-weight: 600;
     margin-left: 10px;
}
.footer{
     background: black;
     padding-top: 50px;
     padding-bottom: 50px;
}
.footer p{
     color: #434343;
     font-size: 16px;
     font-family: 'GOTHAM-MEDIUM';
}
.footer p a{
     color: #4aa4e7
}
.footer .copyright-text a{
     color: #434343
}
.hr{
     color: #cccccc;
     margin-bottom: 7px;
     margin-top: 7px;
}
 .block{
     display: block;
}
.input-error {
	border: 1px solid red;
}
.center {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

@media only screen and (max-width: 767px){

     .logo {
          margin-left: 15px;
      }
      .mynav .navbar-right,
      .mynav .navbar-nav {
          text-align: center !important;
      }
      .navbar-toggle .icon-bar {
          width: 22px;
          transition: all 0.2s;
      }
      .navbar-toggle .top-bar {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
      }
      .navbar-toggle .middle-bar {
          opacity: 0;
      }
      .navbar-toggle .bottom-bar {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
      }
      .navbar-toggle.collapsed .top-bar {
          transform: rotate(0);
      }
      .navbar-toggle.collapsed .middle-bar {
          opacity: 1;
      }
      .navbar-toggle.collapsed .bottom-bar {
          transform: rotate(0);
      }
      .mynav .navbar-toggle {
          background: none !important;
          border: 0 !important;
      }
      .mynav .icon-bar {
          background: #fff !important;
      }
      .block {
          display: inline-block;
      }
      .navbar-default .navbar-collapse, .navbar-default .navbar-form{
           border: 0 !important;
      }
      .banner{
          padding-top: 20px;

      }

     .banner h2{
     font-size: 26px;
     margin-bottom: 10px
     }
     .banner h3{
     font-size: 20px;
     margin-bottom: 55px
     }
     .banner img{
          width: 100%;
     }
     .banner h4{
          padding: 0;
     }
     .slider-box{
          max-width: 80%;
          margin: auto;
     }
     .banner h4 {
          color: #fff;
          font-size: 18px;
          margin-top: 70px;
          line-height: 26px;
          font-family: 'Gotham-Black';
          margin-bottom: 10px;
      }
      .banner p{
          font-size: 15px;
      }
     .power p{
          margin: 0;
          text-align: center;
          margin-bottom: 30px;
          font-size: 16px;

     }
     .power h3{
          font-size: 26px;
          margin-bottom: 25px;

     }
     .power img{
          width: 100%;
     }
     .brand h2{
          font-size: 22px
     }

     .brand img{
          width: 100%;
          margin-bottom: 29px;
     }
     .security{
          text-align: center;
     }
     .choose p{
          font-size: 15px;
    margin-bottom: 20px;
     }
     
     .choose h3{
          position: static;
          text-align: center;
     }
     .choose img{
          max-width: 300px;

          margin: auto;
          text-align: center;
          display: block;
          height: auto;
     }
     .choose h4{
          text-align: center;
          position: static;
          margin-top: 20px;
     }
     .marks h2{
          text-align: center;
     }
     .marks p{
          text-align: center;
     }
     .security p{
          text-align: center;
     }
     .carousel-control.left{
          left: 28px;
     }
     .power .carousel-inner .item img {
          height: 350px;
     }

     .footer p{
          display: block;
          margin: 0;
          text-align: center;
     }




}/***mobile****/


@media (min-width: 768px) and (max-width: 991px){

     .banner h2{
          font-size: 45px;
     }
     .banner h3{
          font-size: 28px;
     }
     .power img{
          width: 100%;
     }
     .brand img{
          width: 100%;
     }
     .choose h4{
          line-height: 30px;
          font-size: 22px;
          right: 55px;
     }
     .marks p{
          margin-bottom: 0;
          font-size: 13px;
     }
     .marks h2{
          font-size: 30px;
     }
     .choose h3{
          line-height: 30px;
          left: 10px;
          font-size: 26px;      
     }
     .choose img{
          height: 350px;

     }

     .power .carousel-inner .item img {
          height: 350px;
     }
     .block{
          display: inline;
     }
     .security p{
          font-size: 13px;
     }
     .security h3{
          font-size: 30px;
     }
     .security h2{
          font-size: 30px;
     }
     .security h4{
          font-size: 30px;
     }

     .footer p{
          font-size: 14px;

     }



}/****tablet***/









@media (min-width: 992px) and (max-width: 1199px){
     .banner h3{
          font-size: 38px;
     }
     .banner h2{
          font-size: 50px;
     }
     .choose h3{
          left: 0;
     }
     .choose h4{
          right: 50px;

     }
     
}

@media (min-width: 1480px) and (max-width: 5120px){
     /* .container{
         width: 1440px !important 
    } */
}
 